<div>
	<div class="main-content row" >
		<div class="col-md-1 col-md-offset-1 left-content">
			<ul class="list-group">
				<li class="list-group-item"><img src="slices/Product_Detail_Page_21102016_v4_03.jpg" /></li>
				<li class="list-group-item"><img src="slices/Product_Detail_Page_21102016_v4_09.jpg" /></li>
				<li class="list-group-item"><img src="slices/Product_Detail_Page_21102016_v4_11.jpg" /></li>
			</ul>
		</div>
		<div class="main-image col-md-4">
			<div style="margin-left:20px"><img src="slices/Product_Detail_Page_21102016_v4_06.jpg" style=""/></div>
		</div>
		<div class="right-content row col-md-4 col-md-offset-1">
			<div  style="font-weight:bold" ng-hide="showDesc">
				<div class="row">
					<h6 style="font-weight:bold">RUPKAMAL</h6>
					<h4 style="font-weight:bold">BLACK WITH MAGENTA BANARASI DUPION SILK SAREE WITH ANTIC GOLD ZARI</h4>
					<div>
							<span>
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/grey_star.png" />
							</span>
						<span>3 Review(s) | ADD A REVIEW</span>
					</div>
					<h2>Rs.4300</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div class="label-font">COLOR</div>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Select Color<span class="caret"></span>
								</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="label-font">SIZE</div>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Select Size<span class="caret"></span>
								</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="label-font">QTY</div>
							<input type="number" class="btn btn-default" min="1" max="10" />
						</div>
					</div>
					<div class="row col-md-4 " style="margin-top:4%">
						<div class="label-font">ADD-ONS</div>
						<div class="btn-group">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Select Add-ons<span class="caret"></span>
							</button>
						</div>
					</div>
					<div class="row col-md-12" style="margin-top:7%">
						<button type="button" class="btn btn-default btn-warning col-md-6">ADD TO CART</button>
						<button type="button" class="btn btn-default col-md-offset-1 col-md-5">ADD TO WISHLIST</button>
					</div>
					<div class="row col-md-12" style="margin-top:7%">
						<button type="button" class="btn btn-default btn-info col-md-6" ng-click="viewDescription()" >View Description</button>
					</div>
				</div>
				<hr>
				<div>
					<span class="normal-font">This exceptionally well designed silk saree features rich borders that add a burst of statement-making beauty</span>
				</div>
				<div><span>COLOR:</span><span class="normal-font">Black with magenta</span></div>
				<div><span>FABRIC:</span><span class="normal-font">Banarasi dupion</span></div>
				<div><span>MEASUREMENTS:</span><span class="normal-font">Saree</span></div>
				<div><span class="normal-font">Length - 5.5mtr,Width - 45.5in,Blouse Material: Length - 30in</span></div>
			</div>
			<div ng-show="showDesc">
					<div class="row" style="font-weight:bold">
						<div><span>FABRIC:</span><span class="normal-font">Banarasi dupion</span></div>
						<div><span>MEASUREMENTS:</span><span class="normal-font">Saree</span></div>
						<div><span class="normal-font">Length - 5.5mtr,Width - 45.5in,Blouse Material: Length - 30in,Width - 45.5in</span></div>
						<div><span>BLOUSE:</span><span class="normal-font">Unstitched blouse</span></div>
						<div><span>DISCLAIMER:</span><span class="normal-font">Product color and design may slightly vary due to photographic lighting sources or your monitor settings. The blouse which model is wearing is not part of the same.<span></div>
						<div><span>WASHING INSTRUCTION:</span><span class="normal-font">Dry wash only</span></div>
						<div><span>SHIPPING:</span><span class="normal-font">10 to 15 days</span></div>
						<hr>
						<div><span>REVIEWS</span></div>
						<div>
							<span>AWASTY R:</span>
							<span class="normal-font">Good Fabric.Nice embroidery work.Worth for money.</span>
							<span>
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/grey_star.png" />
							</span>
						</div>
						<div>
							<span>AWASTY R:</span>
										<span class="normal-font">Good Fabric.Nice embroidery work.Worth for money.</span>
							<span>
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
							</span>
						</div>
						<div>
							<span>AWASTY R:</span>
							<span class="normal-font">Good Fabric.Nice embroidery work.Worth for money.</span>
							<span>
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
								<img src="slices/black_star.png" />
							</span>
						</div>
						<div class="row col-md-12" style="margin-top:7%">
							<button type="button" class="btn btn-default btn-warning col-md-6">ADD TO CART</button>
							<button type="button" class="btn btn-default col-md-offset-1 col-md-5">ADD A REVIEW</button>
						</div>
						<button type="button" class="btn btn-default back-btn" ng-click="viewDescription()">Back</button>
					</div>
            </div>
		</div>
	</div>
</div>